# Files that should not be tracked by Git

# The compiled executables
/beep
/*.clang
/*.gcc
/*.map
/issue-6-benchmark

# Built sources
/beep-config.h
/beep-usage.c
/beep-usage.txt

# Build intermediates
*.dep
*.tmp
*.clang-o
*.gcc-o
*.o
*.i
*.s
*.bc
*.lst
*.gcc-lst
/beep.1
/compile-check

# The compressed man page
/beep.1.gz

# autoconf related stuff
/aclocal.m4
/auto-aux/
/auto-config.h.in
/autom4te.cache/
/config.log
/config.status
/configure
/Makefile.in
/GNUmakefile

# Built stuff
/dox/
/html/
/*.html
/__tmp/
/stamp-h
/tarball-dist/
/tarball-git-dist/
/beep-*.tar.gz
/beep-*.tar.xz

# Test results
/tests/*.actual.output.new
/tests/*.actual.output
/tests/*.output.actual.new
/tests/*.output.actual
/tests/*.actual.new
/tests/*.actual
/tests/*.output.new
/tests/*.output

# Misc results
*.strace
/Doxyfile
/doxygen.stamp

# Test builds
/_build-*/
/_prefix-*/
