# Files that should not be tracked by Git

# The compiled executable
/beep
/*.clang
/*.gcc

# Built sources
/beep-usage.c

# Build intermediates
*.dep
*.clang-o
*.gcc-o
*.o
*.i
*.s
*.lst
*.gcc-lst

# The compressed man page
/beep.1.gz

# Built stuff
/html/

# Test results
/tests/*.actual.output.new
/tests/*.actual.output
/tests/*.output.actual.new
/tests/*.output.actual

# Misc results
*.strace
