# Files that should not be tracked by Git

# The compiled executable
/beep
/beep.clang
/beep.gcc

# Build intermediates
*.o
*.i
*.s

# The compressed man page
/beep.1.gz

# Built stuff
/html/

# Test results
/tests/*.actual.output.new
/tests/*.actual.output
/tests/*.output.actual.new
/tests/*.output.actual

# Misc results
*.strace
