Source: beep
Section: sound
Priority: optional
Maintainer: Gerfried Fuchs <rhonda@debian.at>
Build-Depends: po-debconf, patch, quilt
Standards-Version: 3.8.3
Homepage: http://johnath.com/beep/

Package: beep
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 0.5) | debconf-2.0
Description: advanced pc-speaker beeper
 beep does what you'd expect: it beeps. But unlike printf "\a" beep allows
 you to control pitch, duration, and repetitions. Its job is to live inside
 shell/perl scripts and allow more granularity than one has otherwise. It is
 controlled completely through command line options. It's not supposed to be
 complex, and it isn't - but it makes system monitoring (or whatever else it
 gets hacked into) much more informative.

Package: beep-udeb
Architecture: any
Section: debian-installer
Depends: ${shlibs:Depends}
Description: advanced pc-speaker beeper - minimal package
 beep does what you'd expect: it beeps. However, it offers various
 additional features, such as the ability to control pitch, duration,
 and repetitions.
 .
 beep-udeb is a minimal package used by debian-installer.
